{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-lg-6 col-xl-4">
    <div class="card mb-5 mb-xl-0">
        <div class="card-body p-5">
            <div class="small text-uppercase fw-bold">
                <i class="bi bi-star-fill text-warning"></i>
               Your Monthly Price
            </div>
            <div class="mb-3">
                {{ total.quote }}
                <span class="display-4 fw-bold">£ {{ total.quote }}
                
                </span>
                <span class="text-muted">/ mo.</span>
            </div>
            <ul class="list-unstyled mb-4">
                <li class="mb-2">
                    <i class="bi bi-check text-primary"></i>
                    <strong>2 Visits a Month</strong>
                </li>
                <li class="mb-2">
                    <i class="bi bi-check text-primary"></i>
                    Free Waste Collection
                </li>
            </ul>
            <div class="d-grid"><a class="btn btn-primary" href="{% url 'checkout' %}">Pay Now</a></div>
        </div>
    </div>
</div>
<div id="extras">
    <h1>Why not add some extra items</h1>
    <div>{% for data in extras %}
        <h2>{{ data.product }}</h2>
        {% endfor %}</div>
</div>



{% endblock %}