html{
    height:100%
}

body {
    font-family: 'Lato';
}

.main-jumbo{
    background-color: #ABB8C3;

}

.main-picture-area{
    background: url('/media/images/garden3.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
}

#main-jumbo{
    margin-left:2rem;
    width:25rem;
}