{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="bg-dark py-5">
  <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-8 col-xl-7 col-xxl-6">
              <div class="my-5 text-center text-xl-start">
                  <h1 class="display-5 fw-bolder text-white mb-2">Subscription Based Gardening</h1>
                  <p class="lead fw-normal text-white-50 mb-4">An easy and efficient way to have a gardener</p>
                  
              </div>
          </div>
          <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{{ 'media/images/garden3.jpg' }}" alt="..." /></div>
      </div>
  </div>
</header>
<section class="py-5" id="features">
  <div class="container px-5 my-5">
      <div class="row gx-5">
          <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">About us</h2></div>
          <div class="col-lg-8">
              <div class="row gx-5 row-cols-1 row-cols-md-2">
                  <div class="col mb-5 h-100">
                      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"></div>
                      <h2 class="h5">Flexible</h2>
                      <p class="mb-0">Just come back to the site every month to purchase another month.</p>
                  </div>
                  <div class="col mb-5 h-100">
                      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"></div>
                      <h2 class="h5">Custom Quotes</h2>
                      <p class="mb-0">Quotes based on the size of your garden</p>
                  </div>
                  <div class="col mb-5 mb-md-0 h-100">
                      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"></div>
                      <h2 class="h5">Professionalism</h2>
                      <p class="mb-0">Fully qualified and Knowledgable</p>
                  </div>
                  <div class="col h-100">
                      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"></div>
                      <h2 class="h5">Daily Tips</h2>
                      <p class="mb-0">Enter your email below for daily Tips on Gardening</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </section>
<aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
    <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
        <div class="mb-4 mb-xl-0">
            <div class="fs-3 fw-bold text-white">Sign up for updates about our services</div>
            
        </div>
        <div class="ms-xl-4">
            <div class="input-group mb-2">
                <form class="mt-3" action="{% url 'email_add' %}" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <button id="submit-button" class="btn btn-black rounded-0">
                        <span class="font-weight-bold">Submit</span>
                    </button>
                </form>
                
            </div>
            <div class="small text-white-50">We care about privacy, and will never share your data.</div>
        </div>
    </div>
</aside>
{% endblock %}