{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class = "main-picture-area">
<div class="jumbotron jumbotron-fluid" id="main-jumbo">
  <div class="container">
    <h1 class="display-4"><strong>Subscription Based</strong></h1>
    <h1 class="display-4"><strong>Gardening</strong></h1>
    <p class="lead">Get custom quotes for all of your gardening needs.</p>
  </div>
</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">How it Works</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You tell us the type of garden you have, the total area, and how many times you want a visit,
            we then create an instant personal quote.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <div class="album py-5 bg-light" id="main_tabs">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src = 'media\images\gardening2.jpg' alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text">Pricing Based on the area of your gardening allowing for a transparent pricing structure.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top"  src = 'media\images\gardening1.jpg' alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" >
            <div class="card-body">
              <p class="card-text">Weekly or Monthly Subscriptions available.</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Find out more about our subscriptions here!
              </button>

            </div>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src = 'media\images\gardening3.jpg' alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text">Our contractors have been hand selected by us in order to provide a complete and proffessional service</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}